/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-light-white: #f1f1f1;
  --color-dark-white: #f3f3f3;
  --color-purple: #664691;
  --color-dark-purple: #38275f;
  --color-dark-grey: #2e2e2e;
  --color-grey: #49494b;
  --color-light-grey: #9c9a9e;
  --color-blue: #0d4569;
  --color-green: #95e0bb;
  --color-orange: #ff5781;
  --color-black: #070707;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-medium: 400;
  --weight-regular: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation duration */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*::selection {
  color: var(--color-white);
  background-color: #d000a0;
}
html {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
  margin: 0;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-purple);
  padding: 0 8px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-purple);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}


/* Home */
#home {
  background: url(./imgs/background_img.jpg) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  color: var(--color-grey);
  border: 2px solid var(--color-light-grey);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 16px;
  transition: all var(--animation-duration) ease;
}

.major__icon:hover {
  border: 2px solid var(--color-green);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-purple);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.school img {
  width: 170px;
  height: auto;
}

.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-green);
}

.skillset {
  display: flex;
  background-color: var(--color-green);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%;
  height: 12px;
  border-radius: 100px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 12px;
  border-radius: 100px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-dark-grey);
}

.tools,
.etc {
  background-color: var(--color-purple);
  padding: 8px;
}

.tools__list li,
.etc__list li {
  padding: 2px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  transform: translate(25%, 25%);
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anime-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: transparent;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-green);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-grey);
}

.testimonial__speech-bubble p:first-child {
  margin-bottom: 15px;
}

.testimonial__speech-bubble a {
  color: var(--color-purple);
}

/* Contact */
#contact {
  background-color: var(--color-purple);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links a {
  padding: 0 8px;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-green);
}

/* Scroll */

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  width: 70px;
  height: 70px;
  color: var(--color-white);
  background-color: var(--color-purple);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 28px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 12px;
    --font-micro: 10px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-purple);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .major:last-child {
    margin-bottom: 40px;
  }

  .school img {
    width: 100px;
    height: auto;
  }

  .skillset {
    flex-direction: column;
  }

  .skillset__title {
    font-size: var(--font-medium);
  }

  .category__btn {
    margin: 4px;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(odd),
  .testimonial__avatar:nth-child(even) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .contact__links i {
    font-size: 48px;
  }

  .contact__rights {
    font-size: var(--font-micro);
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}