:root {
  --big-font-size: 40px;
  --margin-bottom: 0 0 14px 0;
}


* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-items: center;

}

/* Header Buttons*/
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
  background-color: #F1F1F1;
}

.header-logo {
  margin-left: 10px;
}

.header-btns {
  display: flex;
  justify-content: space-between;
}

.header-logo-item,
.header-btns-item {
  border: none;
  background-color: transparent;
}

.header-btns-item {
  font-size: 24px;
  margin: 0 10px;
}

.header-logo-item img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header-btns-item img {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* Profile page */
.profile-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
  padding-top: 10px;
  margin: var(--margin-bottom);
}

.profile-page img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: var(--margin-bottom);
}

.profile-page h1 {
  font-size: var(--big-font-size);
  margin: var(--margin-bottom);
}

.profile-page p {
  font-size: 24px;
  margin: var(--margin-bottom);
}

/* about me */
.about-page {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-bottom);
}

.about-page-container {
  width: 70%;
}

.about-page h1 {
  font-size: var(--big-font-size);
}

/* skills */
.skill-page {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-bottom);
}

.skill-page-container {
  width: 70%;
}

.skill-page h1 {
  font-size: var(--big-font-size);
}

.skill-page img {
  height: 150px;
}

/* projects */
.project-page {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-bottom);
}

.project-page-container {
  width: 70%;

}

.project-page-container-item {
  display: flex;
  flex-wrap: nowrap;
}

.project-page-container-item article {
  width: 300px;
  height: 300px;
  background-color: pink;
  margin: 0 5px;
}

.project-page h1 {
  font-size: var(--big-font-size);
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--margin-bottom);
  background-color: #F1F1F1;
}

footer strong {
  font-size: 12px;
  font-weight: 700;
}