$dropdown-shadow: inset 0px -1px 0px #eeeeee;
$dropdown-reversed-shadow: 0px -1px 0px #eeeeee;
$popup-shadow: 0 4px 20px rgba(63, 65, 80, 0.3);
$popup-reversed-shadow: 0 -4px 20px rgba(63, 65, 80, 0.3);
