// Brand Colors
$brand-purple: #b69dcf;
$brand-pink: #f5bbda;
$brand-mint: #7de3cd;
$brand-blue: #00b5d6;
$brand-red: #a81e2a;
$brand-yellow: #fae011;

// Grayscale Colors
$white: #fff;
$light-gray-1: #eee;
$light-gray-2: #dfdfdf;
$light-gray-3: #bfbfbf;
$gray-1: #aaa;
$gray-2: #888;
$gray-3: #666;
$gray-4: #555;
$dark-gray-1: #444;
$dark-gray-2: #222;
$black: #111;

// Background Colors
$light-backround-1: #fafafa;
$light-backround-2: #fbfafc;
$light-backround-3: #fcfafb;

// ETC
$error_red: #ee5453;
$error_box: #ffeded;

$naver_green: #1ec800;
$kakao_yellow: #fee500;
