.home {
  padding: 120px 0;
  .home_wrapper {
    max-width: 1194px;
    height: auto;
    margin: 0 auto;
    section {
      margin-bottom: 80px;
      h2 {
        @include typography-title-display-2;
        margin-bottom: 36px;
      }
      h3 {
        @include typography-title-headline;
        margin-bottom: 8px;
      }
      p {
        @include typography-body-2;
      }

      &.home_section {
        h2 {
          color: $brand-red;
        }
      }
      &.about {
        h2 {
          color: $brand-pink;
        }
        .bundle {
          margin-bottom: 36px;
          .work,
          .edu {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
          }
          img {
            width: 64px;
            height: 64px;
            margin-right: 8px;
          }
          p {
            &:nth-child(n + 2) {
              @include typography-body-1;
              color: $gray-1;
            }
          }
        }
      }
      &.skills {
        h2 {
          color: $brand-blue;
        }
        div {
          margin-bottom: 24px;
        }
      }
      &.work {
        h2 {
          color: $brand-yellow;
        }
        .bundle {
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          img {
            height: auto;
            width: 356px;
            margin-right: 8px;
          }
        }
      }
      &.faq {
        h2 {
          color: $brand-mint;
        }
        div {
          margin-bottom: 24px;
          h3 {
            @include typography-title-subhead-3;
          }
        }
      }
      &.contact {
        h2 {
          color: $brand-purple;
        }
        p {
          margin-bottom: 16px;
          &:nth-child(3) {
            margin-bottom: 24px;
          }
        }
        .sns {
          display: flex;
          justify-content: space-between;
          width: 168px;
        }
      }
    }
  }
}
