.home {
  padding: 120px 0;
  .home_wrapper {
    max-width: 1194px;
    height: auto;
    margin: 0 auto;
    section {
      margin-bottom: 80px;
      h2 {
        margin-bottom: 18px;
      }
    }
  }
}
