// Mobile
$mobile-columns: 6;
$mobile-margin: 20px;
$mobile-gutter: 16px;

// Tablet
$tablet-columns: 8;
$tablet-margin: 24px;
$tablet-gutter: 20px;

// Desktop
$tablet-columns: 12;
$tablet-offset: center;
$tablet-gutter: 30px;
