.navbar {
  .navbar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1194px;
    height: 56px;
    margin: 0 auto;
    img {
      width: auto;
      height: 38px;
      cursor: pointer;
    }
    ul {
      display: flex;
      li {
        padding: 0 30px;
        cursor: pointer;
        @include typography-title-subhead-3;
        &:hover {
          color: $brand-red;
          transition: ease-in-out 300ms;
        }
      }
    }
  }
}

// 태블릿(big) 대응
@media (max-width: 1024px) {
  .navbar {
    .navbar_wrapper {
      margin: 0 64px;
    }
  }
}

// 태블릿 대응
@media (max-width: 768px) {
  .navbar {
    .navbar_wrapper {
      margin: 0 24px;
    }
  }
}

// 모바일 대응
@media (max-width: 428px) {
  .navbar {
    .navbar_wrapper {
      margin: 0 20px;
    }
  }
}

// 모바일(small) 대응
@media (max-width: 320px) {
  .navbar {
    .navbar_wrapper {
      margin: 0 10px;
    }
  }
}
